weaviate-client>=4.5.4
streamlit>=1.32.0
beautifulsoup4>=4.12.0
requests>=2.31.0
python-dotenv>=1.0.0
lxml>=5.1.0
pandas>=2.0.0
openai>=1.40.0
sentence-transformers>=3.0.0
langchain>=0.3.0
langchain-experimental>=0.3.0
langchain-openai>=0.2.0
nltk>=3.8
langchain-text-splitters>=0.3.0
